In [92]:
import pandas as pd

df= pd.read_csv(r"2022.txt", sep=" ", header=None, names=['County of Residence', 'County of Residence Code', 'Age of Mother 9',	'Age of Mother 9 Code','Year','Year Code','Births'])
#df

#export the csv file
#df.to_csv('2022.csv', index=False)

#df2= pd.read_csv(r"2022.txt")
#df2.to_csv('2022.csv', index=False)

In [50]:
df3 = pd.read_csv('2022.txt', sep='\t')
df3
df3.to_csv('2022.csv', index=False)

In [128]:
#Import the csv file
df4 = pd.read_csv('2022.csv')
df4

,County of Residence,County of Residence Code,Age of Mother 9,Age of Mother 9 Code,Year,Year Code,Births
0,"Baldwin County, AL",1003,15-19 years,15-19,2022,2022,120
1,"Calhoun County, AL",1015,15-19 years,15-19,2022,2022,76
2,"Etowah County, AL",1055,15-19 years,15-19,2022,2022,91
3,"Houston County, AL",1069,15-19 years,15-19,2022,2022,105
4,"Jefferson County, AL",1073,15-19 years,15-19,2022,2022,390
...,...,...,...,...,...,...,...
619,"Washington County, WI",55131,15-19 years,15-19,2022,2022,19
620,"Waukesha County, WI",55133,15-19 years,15-19,2022,2022,28
621,"Winnebago County, WI",55139,15-19 years,15-19,2022,2022,44
622,"Unidentified Counties, WI",55999,15-19 years,15-19,2022,2022,511
623,"Unidentified Counties, WY",56999,15-19 years,15-19,2022,2022,300

In [129]:
print(df4.columns)

Index(['County of Residence', 'County of Residence Code', 'Age of Mother 9',
       'Age of Mother 9 Code', 'Year', 'Year Code', 'Births'],
      dtype='object')

In [130]:
df4['County of Residence']

0             Baldwin County, AL
1             Calhoun County, AL
2              Etowah County, AL
3             Houston County, AL
4           Jefferson County, AL
                 ...
619        Washington County, WI
620          Waukesha County, WI
621         Winnebago County, WI
622    Unidentified Counties, WI
623    Unidentified Counties, WY
Name: County of Residence, Length: 624, dtype: object

In [131]:
#Split 'County of Residence' into 'County' and 'State'
df4[['County', 'State']] = df4['County of Residence'].str.rsplit(',', n=1, expand=True)
df4

,County of Residence,County of Residence Code,Age of Mother 9,Age of Mother 9 Code,Year,Year Code,Births,County,State
0,"Baldwin County, AL",1003,15-19 years,15-19,2022,2022,120,Baldwin County,AL
1,"Calhoun County, AL",1015,15-19 years,15-19,2022,2022,76,Calhoun County,AL
2,"Etowah County, AL",1055,15-19 years,15-19,2022,2022,91,Etowah County,AL
3,"Houston County, AL",1069,15-19 years,15-19,2022,2022,105,Houston County,AL
4,"Jefferson County, AL",1073,15-19 years,15-19,2022,2022,390,Jefferson County,AL
...,...,...,...,...,...,...,...,...,...
619,"Washington County, WI",55131,15-19 years,15-19,2022,2022,19,Washington County,WI
620,"Waukesha County, WI",55133,15-19 years,15-19,2022,2022,28,Waukesha County,WI
621,"Winnebago County, WI",55139,15-19 years,15-19,2022,2022,44,Winnebago County,WI
622,"Unidentified Counties, WI",55999,15-19 years,15-19,2022,2022,511,Unidentified Counties,WI
623,"Unidentified Counties, WY",56999,15-19 years,15-19,2022,2022,300,Unidentified Counties,WY

In [132]:
#drop the 'County of Residence' column
df5 = df4.drop(['County of Residence'], axis=1)

#show the new dataframe
print(df5)

     County of Residence Code Age of Mother 9 Age of Mother 9 Code  Year  \
0                        1003     15-19 years                15-19  2022
1                        1015     15-19 years                15-19  2022
2                        1055     15-19 years                15-19  2022
3                        1069     15-19 years                15-19  2022
4                        1073     15-19 years                15-19  2022
..                        ...             ...                  ...   ...
619                     55131     15-19 years                15-19  2022
620                     55133     15-19 years                15-19  2022
621                     55139     15-19 years                15-19  2022
622                     55999     15-19 years                15-19  2022
623                     56999     15-19 years                15-19  2022

     Year Code  Births                 County State
0         2022     120         Baldwin County    AL
1         2022      76         Calhoun County    AL
2         2022      91          Etowah County    AL
3         2022     105         Houston County    AL
4         2022     390       Jefferson County    AL
..         ...     ...                    ...   ...
619       2022      19      Washington County    WI
620       2022      28        Waukesha County    WI
621       2022      44       Winnebago County    WI
622       2022     511  Unidentified Counties    WI
623       2022     300  Unidentified Counties    WY

[624 rows x 8 columns]

In [143]:
df5.to_csv('county_birth_number.csv', index=False)

## Bring ACS

In [133]:
%load_ext rpy2.ipython
%load_ext autoreload
%autoreload 2

%matplotlib inline  
from matplotlib import rcParams
rcParams['figure.figsize'] = (16, 100)

import warnings
from rpy2.rinterface import RRuntimeWarning
warnings.filterwarnings("ignore") # Ignore all warnings
# warnings.filterwarnings("ignore", category=RRuntimeWarning) # Show some warnings

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display, HTML

In [134]:
%%javascript
// Disable auto-scrolling
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;

In [135]:
import requests

In [136]:
%%R
require('tidycensus')
require('tidyverse')

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.0     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

Loading required package: tidycensus
Loading required package: tidyverse

In [137]:
%%R 

census_api_key("dd8b155c715d82789ee1e115fbe728f203b25e30", install = TRUE, overwrite = TRUE)

# Get variable from ACS
census_data <- get_acs(
  geography = "county",
  variables = c(
    females_15_17 = "B01001_030",
    females_18_19 = "B01001_031"
  ),
  year = 2021,
  survey = "acs5",
  geometry = TRUE
)

census_data

  |======================================================================| 100%
Simple feature collection with 6442 features and 5 fields
Geometry type: MULTIPOLYGON
Dimension:     XY
Bounding box:  xmin: -179.1489 ymin: 17.88328 xmax: 179.7785 ymax: 71.36516
Geodetic CRS:  NAD83
First 10 features:
   GEOID                      NAME      variable estimate moe
1  20161      Riley County, Kansas females_15_17      998 165
2  20161      Riley County, Kansas females_18_19     2857 198
3  19159     Ringgold County, Iowa females_15_17      111  16
4  19159     Ringgold County, Iowa females_18_19       58  25
5  30009    Carbon County, Montana females_15_17      168   7
6  30009    Carbon County, Montana females_18_19       71  17
7  16007   Bear Lake County, Idaho females_15_17      156  10
8  16007   Bear Lake County, Idaho females_18_19       66  32
9  55011 Buffalo County, Wisconsin females_15_17      267  15
10 55011 Buffalo County, Wisconsin females_18_19      114   5
                         geometry
1  MULTIPOLYGON (((-96.96095 3...
2  MULTIPOLYGON (((-96.96095 3...
3  MULTIPOLYGON (((-94.47167 4...
4  MULTIPOLYGON (((-94.47167 4...
5  MULTIPOLYGON (((-109.7987 4...
6  MULTIPOLYGON (((-109.7987 4...
7  MULTIPOLYGON (((-111.6345 4...
8  MULTIPOLYGON (((-111.6345 4...
9  MULTIPOLYGON (((-92.08384 4...
10 MULTIPOLYGON (((-92.08384 4...

Your original .Renviron will be backed up and stored in your R HOME directory if needed.
Your API key has been stored in your .Renviron and can be accessed by Sys.getenv("CENSUS_API_KEY").
To use now, restart R or run `readRenviron("~/.Renviron")`
Getting data from the 2017-2021 5-year ACS
Downloading feature geometry from the Census website.  To cache shapefiles for use in future sessions, set `options(tigris_use_cache = TRUE)`.

In [138]:
%%R
#show column names
names(census_data)

[1] "GEOID"    "NAME"     "variable" "estimate" "moe"      "geometry"

In [140]:
%%R
df_combined <- census_data %>%
  group_by(GEOID, NAME) %>%
  summarise(female_15_19_population = sum(estimate, na.rm = TRUE),
            geometry = first(geometry)) %>%
  ungroup()

df_combined

`summarise()` has grouped output by 'GEOID'. You can override using the
`.groups` argument.
Simple feature collection with 3221 features and 3 fields
Geometry type: MULTIPOLYGON
Dimension:     XY
Bounding box:  xmin: -179.1489 ymin: 17.88328 xmax: 179.7785 ymax: 71.36516
Geodetic CRS:  NAD83
# A tibble: 3,221 × 4
   GEOID NAME                   female_15_19_populat…¹                  geometry
   <chr> <chr>                                   <dbl>        <MULTIPOLYGON [°]>
 1 01001 Autauga County, Alaba…                   2147 (((-86.9212 32.65754, -8…
 2 01003 Baldwin County, Alaba…                   6812 (((-88.02858 30.22676, -…
 3 01005 Barbour County, Alaba…                    655 (((-85.74803 31.61918, -…
 4 01007 Bibb County, Alabama                      628 (((-87.42194 33.00338, -…
 5 01009 Blount County, Alabama                   1584 (((-86.96336 33.85822, -…
 6 01011 Bullock County, Alaba…                    258 (((-85.99916 32.25054, -…
 7 01013 Butler County, Alabama                    549 (((-86.90894 31.96167, -…
 8 01015 Calhoun County, Alaba…                   3973 (((-86.14623 33.70218, -…
 9 01017 Chambers County, Alab…                    971 (((-85.59343 32.89727, -…
10 01019 Cherokee County, Alab…                    716 (((-85.84384 34.24345, -…
# ℹ 3,211 more rows
# ℹ abbreviated name: ¹​female_15_19_population
# ℹ Use `print(n = ...)` to see more rows

In [141]:
%%R
library(dplyr)
library(stringr)
library(datasets)

# Load the state abbreviations data
data(state)
state_abbrev <- data.frame(
  state_name = state.name,
  state_abbr = state.abb
)

# Function to get state abbreviation
get_state_abbr <- function(state_name) {
  abbr <- state_abbrev$state_abbr[match(state_name, state_abbrev$state_name)]
  return(ifelse(is.na(abbr), state_name, abbr))
}

# Split the NAME column and convert state to abbreviation
df_split <- df_combined %>%
  mutate(
    county = str_replace(NAME, ", .*$", ""),
    state_full = str_extract(NAME, "[^,]+$") %>% str_trim(),
    state = sapply(state_full, get_state_abbr)
  ) %>%
  select(-NAME, -state_full)  # Remove original NAME and intermediate state_full columns

# Reorder columns
df_split <- df_split %>%
  select(GEOID, county, state, female_15_19_population, geometry)

# Display the first few rows of the result
print(head(df_split))

Simple feature collection with 6 features and 4 fields
Geometry type: MULTIPOLYGON
Dimension:     XY
Bounding box:  xmin: -88.02858 ymin: 30.22333 xmax: -85.04931 ymax: 34.26017
Geodetic CRS:  NAD83
# A tibble: 6 × 5
  GEOID county         state female_15_19_population                    geometry
  <chr> <chr>          <chr>                   <dbl>          <MULTIPOLYGON [°]>
1 01001 Autauga County AL                       2147 (((-86.9212 32.65754, -86.…
2 01003 Baldwin County AL                       6812 (((-88.02858 30.22676, -88…
3 01005 Barbour County AL                        655 (((-85.74803 31.61918, -85…
4 01007 Bibb County    AL                        628 (((-87.42194 33.00338, -87…
5 01009 Blount County  AL                       1584 (((-86.96336 33.85822, -86…
6 01011 Bullock County AL                        258 (((-85.99916 32.25054, -85…

In [144]:
%%R
library(readr)
df5 <- read_csv('county_birth_number.csv')

Rows: 624 Columns: 8
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): Age of Mother 9, Age of Mother 9 Code, County, State
dbl (4): County of Residence Code, Year, Year Code, Births

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [146]:
%%R
#now merge the two dataframes by county by state
df_merged <- left_join(df5, df_split, by = c("County" = "county", "State" = "state"))
print(head(df_merged))

# A tibble: 6 × 11
  `County of Residence Code` `Age of Mother 9` `Age of Mother 9 Code`  Year
                       <dbl> <chr>             <chr>                  <dbl>
1                       1003 15-19 years       15-19                   2022
2                       1015 15-19 years       15-19                   2022
3                       1055 15-19 years       15-19                   2022
4                       1069 15-19 years       15-19                   2022
5                       1073 15-19 years       15-19                   2022
6                       1081 15-19 years       15-19                   2022
# ℹ 7 more variables: `Year Code` <dbl>, Births <dbl>, County <chr>,
#   State <chr>, GEOID <chr>, female_15_19_population <dbl>,
#   geometry <MULTIPOLYGON [°]>

In [147]:
%%R
print(colnames(df_merged))

 [1] "County of Residence Code" "Age of Mother 9"
 [3] "Age of Mother 9 Code"     "Year"
 [5] "Year Code"                "Births"
 [7] "County"                   "State"
 [9] "GEOID"                    "female_15_19_population"
[11] "geometry"

In [154]:
%%R
# Calculate birth rate in per 1000 people
df_with_rate <- df_merged %>%
  mutate(birth_rate = Births / female_15_19_population * 1000)

In [155]:
%%R
# Round the birth rate to 2 decimal places for readability
df_with_rate <- df_with_rate %>%
  mutate(birth_rate = round(birth_rate, 2))

In [156]:
%%R
new_df <- df_with_rate %>%
  select(County, State, Births, female_15_19_population, birth_rate)

In [157]:
%%R
print(head(new_df))

# A tibble: 6 × 5
  County           State Births female_15_19_population birth_rate
  <chr>            <chr>  <dbl>                   <dbl>      <dbl>
1 Baldwin County   AL       120                    6812       17.6
2 Calhoun County   AL        76                    3973       19.1
3 Etowah County    AL        91                    3060       29.7
4 Houston County   AL       105                    3214       32.7
5 Jefferson County AL       390                   21384       18.2
6 Lee County       AL        83                    7699       10.8

In [158]:
%%R
write.csv(new_df, "county_birth_rate.csv", row.names = FALSE)

# Bring political affiliations